<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/admin_layout :: page(title=${title})}">
<head>

</head>
<body>

<th:block th:fragment="content">
    <div class="container">
        <div class="row mb-4">
            <button class="ml-auto btn btn-outline-primary btn-add">Thêm giày mới</button>
        </div>
        <div class="row mb-5">
            <form class="col-md-12">
                <div class="site-blocks-table">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Thương hiệu</th>
                            <th>Loại giày</th>
                            <th>Giá</th>
                            <th>Màu sắc</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="shoes : ${shoesList}">
                            <tr th:attr="data-id=${shoes.id}">
                                <td>
                                    <h2 class="h5 text-black" th:text="${shoes.id}"></h2>
                                </td>
                                <td>
                                    <h2 class="h5 text-primary" th:text="${shoes.name}"></h2>
                                </td>
                                <td>
                                    <h2 class="h5 text-black" th:text="${shoes.brand.name}"></h2>
                                </td>
                                <td>
                                    <h2 class="h5 text-black" th:text="${shoes.category.name}"></h2>
                                </td>
                                <td>
                                    <h2 class="h5 text-primary" th:text="${#numbers.formatDecimal(shoes.price, 0, 'COMMA', 0, 'POINT')} + ' đ'"></h2>
                                </td>
                                <td>
                                    <th:block th:each="shoesColor : ${shoes.shoesColorList}">
                                        <span class="color d-inline-block rounded-circle mr-1 border dot-shoes-color"
                                              th:style="'width: 20px; height: 20px; cursor: pointer; background-color: ' + ${shoesColor.color.colorCode}"
                                              th:attr="data-shoes-image=${shoesColor.imagePath}, data-shoes-color-id=${shoesColor.id}"
                                        ></span>

                                    </th:block>
                                </td>
                            </tr>
                        </th:block>

                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm giày mới</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="px-2">
                        <div class="form-group">
                            <label for="name">Tên sản phẩm</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="price">Giá</label>
                            <input type="text" class="form-control" id="price">
                        </div>
                        <div class="form-group">
                            <label for="desc">Mô tả</label>
                            <textarea class="form-control" id="desc"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="brand">Thương hiệu</label>
                            <select class="form-control" id="brand">
                                <th:block th:each="brand : ${brandList}">
                                    <option th:value="${brand.id}" th:text="${brand.name}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="category">Loại giày</label>
                            <select class="form-control" id="category">
                                <th:block th:each="category : ${categoryList}">
                                    <option th:value="${category.id}" th:text="${category.name}"></option>
                                </th:block>
                            </select>
                        </div>

                    </form>
                    <button class="mx-2 btn btn-outline-primary btn-add-color">+</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary btn-add-product">Thêm</button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        $(function() {
            const colorArr = /*[[${colorList}]]*/ [];
            const sizArr = /*[[${sizeList}]]*/ [];
            let optionHtmls = ``;
            colorArr.forEach(color => {
                optionHtmls +=
                    `<option value="${color.id}">${color.colorValue}</option>`;
            })
            let selectHtmls = `
                <div class="form-group added">
                    <label for="color">Màu sắc</label>
                    <select class="form-control color-choose">
                        ${optionHtmls}
                    </select>
                </div>`;
            let checkHtmls = ``;
            sizArr.forEach(size => {
                checkHtmls += `<label class="form-check-label d-flex justify-content-center align-items-center mr-4"><input class="form-check-input" type="checkbox" id="size${size.id}" value="${size.id}">${size.sizeValue}</label>`
            })
            checkHtmls = `<div class="form-group added">
                        <label for="checksize">Size</label>
                        <br>
                        <div class="form-check-inline size-choose" >${checkHtmls}</div>
                        </div>`;
            let inputImg = `<div class="form-group added">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Chọn ảnh</label>
                                </div>
                          </div>`;
            let fullHtmls = `
                                ${selectHtmls}
                                ${checkHtmls}
                                ${inputImg}
                             `;

            console.log(colorArr)
            $('.btn-add').click(() => {
                $('.modal .added').remove();
                $('.modal').modal('show');
            })
            $('.btn-add-color').click(() => {
                console.log('click')
                $('.modal form').append(fullHtmls);
            })

            $(".modal form").on("change", ".custom-file-input", function () {
                var fileName = $(this).val().split('\\').pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });

            $('.btn-add-product').click(async function() {
                const name = $('#name').val();
                const price = $('#price').val();
                const description = $('#desc').val();
                const brand = $('#brand').val();
                const category = $('#category').val();
                const shoesColorJSONList = [];
                console.log(name, price, description, brand, category)
                const colorList = [];
                $('.color-choose').each(function() {
                    colorList.push($(this).val());
                })
                const sizeList = [];
                $('.size-choose').each(function() {
                    const subSize = [];
                    $(this).find('input:checked').each(function() {
                        subSize.push($(this).val())
                    })
                    sizeList.push(subSize);
                })
                console.log(sizeList);
                const imageList = [];
                // Tạo một mảng promise từ việc đọc các files
                const fileReadPromises = Array.from($('.custom-file-input')).map((input) => {
                    const file = input.files[0];
                    const reader = new FileReader();

                    // Tạo một promise mới
                    return new Promise((resolve, reject) => {
                        reader.onloadend = function () {
                            const base64String = reader.result.split(',')[1];
                            imageList.push(base64String);
                            resolve(); // Đánh dấu việc đọc file này đã hoàn thành
                        };

                        reader.readAsDataURL(file);
                    });
                });

                // Sử dụng Promise.all để chờ tất cả các promises hoàn thành
                Promise.all(fileReadPromises).then(() => {
                    for(let i = 0; i < colorList.length; i++) {
                        const newObj = {
                            idColor: colorList[i],
                            image: imageList[i],
                            sizeList: sizeList[i]
                        };
                        shoesColorJSONList.push(newObj);
                    }
                    console.log(shoesColorJSONList);
                    fetch(`/api/v1/shoes`, {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({
                                                name, price, description,
                                                categoryId: category, brandId: brand,
                                                shoesColorJSONList
                                            })
                    })
                        .then(res => {
                            if(!res.ok) throw new Error();
                            Swal.fire({
                                title: "Thành công",
                                text: "Thêm sản phẩm thành công",
                                icon: "success"
                            });
                        })
                        .catch(err => {
                            console.error(err);
                            Swal.fire({
                                title: "Không thành công",
                                text: "Đã xảy ra lỗi",
                                icon: "error"
                            });
                        })
                });

            })
        })
    </script>
</th:block>


</body>

</html>