<!DOCTYPE html>
<html lang="en">
<head>
  <title>Đăng nhập</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
        <span class="login100-form-title">
            Đăng nhập
        </span>

        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
          <input class="input100" type="text" name=username placeholder="Tên tài khoản" id="username">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-16" data-validate = "Please enter password">
          <input class="input100" type="password" name="password" placeholder="Mật khẩu" id="password">
          <span class="focus-input100"></span>
        </div>


        <div class="container-login100-form-btn m-b-50">
          <button class="login100-form-btn btn-login" type="button">
            Đăng nhập
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.btn-login').click(() => {
      const username = $('#username').val();
      const password = $('#password').val();
      if(username.trim() === '' || password.trim() === '') {
        Swal.fire({
          title: "Lưu ý",
          text: "Vui lòng nhập tên tài khoản và mật khẩu!",
          icon: "question"
        });
      } else {
        fetch(`/api/v1/admin/login`, {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ username, password })
        })
                .then(res => {
                  if(!res.ok) throw new Error();
                  return res.json();
                })
                .then(data => {
                  sessionStorage.setItem("adminId", data.id);
                  Swal.fire({
                    title: "Thông báo",
                    text: "Đăng nhập thành công!",
                    icon: "success"
                  });
                  setTimeout(() => {
                    window.location.href = "/admin";
                  }, 1000);
                })
                .catch(err => {
                  Swal.fire({
                    title: "Thông báo",
                    text: "Đăng nhập thất bại!",
                    icon: "error"
                  });
                })
      }

    })
  })
</script>
</body>
</html>