<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/admin_layout :: page(title=${title})}">
<head>

</head>
<body>

<th:block th:fragment="content">
    <div class="container">
        <div class="row mb-5">
            <form class="col-md-12">
                <div class="site-blocks-table">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Mã khách hàng</th>
                            <th>Số điện thoại</th>
                            <th>Tên</th>
                            <th>Địa chỉ giao hàng</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="customer : ${customerList}">
                            <tr th:attr="data-id=${customer.id}">
                                <td>
                                    <h2 class="h5 text-black" th:text="${customer.id}"></h2>
                                </td>
                                <td>
                                    <h2 class="h5 text-primary" th:text="${customer.phone}"></h2>
                                </td>
                                <td>
                                    <h2 class="h5 text-black" th:text="${customer.name}"></h2>
                                </td>
                                <td>
                                    <h2 class="h5 text-black" th:text="${customer.address}"></h2>
                                </td>
                            </tr>
                        </th:block>

                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>

    <script>
        $(function() {
            $('.btn-update').click(function() {
                const orderId = $(this).data('id');
                const trUpdate = $(this).closest('tr');
                Swal.fire({
                    title: "Xác nhận",
                    text: "Xác nhận hoàn thành đơn hàng này!",
                    icon: "info",
                    showCancelButton: true,
                    confirmButtonText: "Xác nhận",
                    cancelButtonText: 'Hủy'
                }).then((result) => {
                    if(result.isConfirmed) {
                        fetch(`/api/v1/order/${orderId}`, {
                            method: 'PUT'
                        })
                            .then(res => {
                                if(res.ok) {
                                    Swal.fire({
                                        title: "Thành công",
                                        text: "Đã cập nhật trạng thái đơn hàng",
                                        icon: "success"
                                    });
                                    trUpdate.remove();
                                } else {
                                    throw new Error();
                                }
                            })
                            .catch(err => {
                                console.error(err);
                                Swal.fire({
                                    title: "Không thành công",
                                    text: "Đã xảy ra lỗi",
                                    icon: "error"
                                });
                            })
                    }
                });
            })

            $('.btn-detail').click(function() {
                const id = $(this).data('id');
                fetch(`/api/v1/order/${id}`)
                    .then(res => res.json())
                    .then(data => {
                        let trs = ``;
                        data.forEach(order => {
                            trs += `
                                <tr data-id=${order.id}>
                                    <td class="product-thumbnail">
                                        <img src="/images/${order.imagePath}" alt="Image" style="width: 60px; height: 60px">
                                    </td>
                                    <td style="vertical-align: middle;">
                                        <h2 class="h5 text-black mb-0">${order.shoesName}</h2>
                                    </td>
                                    <td style="vertical-align: middle;">
                                        <h2 class="h5 text-primary mb-0">${order.price.toLocaleString('vi-VN').replaceAll('.', ',') + " đ"}</h2>
                                    </td>
                                    <td style="vertical-align: middle;">
                                        <h2 class="h5 text-black mb-0">${order.quantity}</h2>
                                    </td>
                                </tr>`


                        })
                        let htmls = `<div>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="product-thumbnail">Ảnh</th>
                                    <th class="product-name">Tên sản phẩm</th>
                                    <th class="product-price">Giá</th>
                                    <th class="product-quantity">Số lượng</th>
                                </tr>
                                </thead>
                                <tbody>
                                    ${trs}
                                </tbody>
                            </table>
                        </div>`;
                        Swal.fire({
                            title: "Chi tiết",
                            width: 'auto',
                            customClass: 'sweet-width',
                            html: htmls,
                            icon: "info",

                        });
                    })
                    .catch(err => {
                        console.error(err);
                        Swal.fire({
                            title: "Lỗi",
                            text: "Đã xảy ra lỗi",
                            icon: "error"
                        });
                    })
            })
        })
    </script>
</th:block>


</body>

</html>