<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/customer_layout :: page(title=${title})}">
<head>

</head>
<body>

<th:block th:fragment="content">
    <div class="container">

        <div class="row mb-5">
            <div class="col-md-9 order-2">

                <div class="row">
                    <div class="col-md-12 mb-5">
                        <div class="d-flex">
                            <div class="btn-group ml-md-auto">
                                <button class="btn btn-secondary btn-sm mr-4 btn-all">Tất cả</button>
                                <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown">Lọc</button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                                    <a class="dropdown-item sort-a-z" href="#">Theo tên, A đến Z</a>
                                    <a class="dropdown-item sort-z-a" href="#">Theo tên, Z đến A</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item sort-low-high" href="#">Theo giá, thấp đến cao</a>
                                    <a class="dropdown-item sort-high-low" href="#">Theo giá, cao đến thấp</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-5 wrapper-shoes">
                    <th:block th:each="shoes : ${shoesList}">
                        <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                            <div class="block-4 text-center border shoes-card">
                                <figure class="block-4-image">
                                    <a th:href="@{'/shoes/' + ${shoes.id}}"><img th:src="@{/public/images/{imagePath}(imagePath=${shoes.shoesColorList[0].imagePath})}" alt="Image placeholder" class="img-fluid img-shoes"></a>
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3 class="mb-1 d-flex align-items-center justify-content-center w-100" style="height: 50px;"><a th:href="@{'/shoes/' + ${shoes.id}}" th:text="${shoes.name}"></a></h3>
                                    <th:block th:each="shoesColor : ${shoes.shoesColorList}">
                                        <span class="color d-inline-block rounded-circle mr-1 border dot-shoes-color"
                                              th:style="'width: 20px; height: 20px; cursor: pointer; background-color: ' + ${shoesColor.color.colorCode}"
                                              th:attr="data-shoes-image=${shoesColor.imagePath}, data-shoes-color-id=${shoesColor.id}"
                                        ></span>

                                    </th:block>
                                    <p class="text-primary font-weight-bold" th:text="${#numbers.formatDecimal(shoes.price, 0, 'COMMA', 0, 'POINT')} + ' đ'"></p>
                                </div>
                            </div>
                        </div>
                    </th:block>



                </div>

            </div>

            <div class="col-md-3 order-1 mb-5 mb-md-0">

                <div class="border p-4 rounded mb-4">
                    <div class="mb-4">
                        <h3 class="mb-3 h6 text-uppercase text-black d-block">Lọc theo giá</h3>
                        <div id="slider-range" class="border-primary"></div>
                        <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
                    </div>

                    <div class="mb-4">
                        <h3 class="mb-3 h6 text-uppercase text-black d-block wrapper-brand">Thương hiệu</h3>
                        <th:block th:each="brand, iterStat : ${brandList}">
                            <label th:attr="for=${'brand' + iterStat.index}" class="d-flex">
                                <input type="checkbox" th:id="${'brand' + iterStat.index}" class="mr-2 check-brand" th:attr="data-id=${brand.id}"> <span class="text-black" th:text="${brand.name}"></span>
                            </label>
                        </th:block>
                    </div>

                    <div class="mb-4">
                        <h3 class="mb-3 h6 text-uppercase text-black d-block">Màu giày</h3>
                        <th:block th:each="color, iterStat : ${colorList}">
                            <label class="d-flex" th:attr="for=${'color' + iterStat.index}">
                                <input type="checkbox" class="mr-2 check-color" th:id="${'color' + iterStat.index}" th:attr="data-id=${color.id}">
                                <span class="d-flex color-item align-items-center" >
                                    <span class="color d-inline-block rounded-circle mx-2 border" th:style="'background-color: ' + ${color.colorCode}"></span>
                                    <span class="text-black" th:text="${color.colorValue}"></span>
                                </span>
                            </label>

                        </th:block>
                    </div>
                    <button class="btn btn-primary btn-search">Tìm kiếm</button>
                </div>
            </div>
        </div>


    </div>
    <script>
        $(function() {
            function renderCard(cardList) {
                let cardHtml = ``;
                cardList.forEach(shoes => {
                    let spans = ``;
                    shoes.shoesColorDTOList.forEach(shoesColor => {
                        spans += `<span class="color d-inline-block rounded-circle mr-1 border dot-shoes-color"
                                      style="width: 20px; height: 20px; cursor: pointer; background-color: ${shoesColor.colorDTO.colorCode}"
                                      data-shoes-image=${shoesColor.imagePath}
                                      data-shoes-color-id=${shoesColor.id}
                                    ></span>`;
                    })
                    cardHtml += `<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                            <div class="block-4 text-center border shoes-card">
                                <figure class="block-4-image">
                                    <a href="/shoes/${shoes.id}"><img src="/public/images/${shoes.shoesColorDTOList[0].imagePath}" alt="Image placeholder" class="img-fluid img-shoes"></a>
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3 class="mb-1 d-flex justify-content-center align-items-center w-100" style="height: 50px;"><a href="shop-single.html">${shoes.name}</a></h3>
                                    ${spans}
                                    <p class="text-primary font-weight-bold">${shoes.price.toLocaleString("vi-VN").replaceAll('.', ',') + "đ"}</p>
                                </div>
                            </div>
                        </div>`;

                })
                $('.wrapper-shoes').empty().append(cardHtml);
            }
            $('.wrapper-shoes').on('click', '.dot-shoes-color', function() {
                const imagePath = $(this).data('shoes-image');
                $(this).closest('.shoes-card')
                    .find('.img-shoes').first()
                    .attr('src', `/public/images/${imagePath}`);
            })

            $('.btn-search').click(function() {
                console.log("clicked");
                const priceText = $('#amount').val();
                const parts = priceText.split(' - ');
                const minPrice = parseInt(parts[0].replace(/[.đ]/g, ''));
                const maxPrice = parseInt(parts[1].replace(/[.đ]/g, ''));
                const brandIds = [];
                $('.check-brand:checked').each(function() {
                    brandIds.push($(this).data('id'));
                })
                const colorIds = [];
                $('.check-color:checked').each(function() {
                    colorIds.push($(this).data('id'));
                })
                fetch(`/api/v1/shoes/filter`, {
                    method: 'POST',
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ minPrice, maxPrice, brandIds, colorIds })
                })
                    .then(res => res.json())
                    .then(data => {
                        console.log(data);
                        renderCard(data);
                    })
                    .catch(err => {
                        console.error(err);
                    })
            })

            $('.btn-all').click(() => {
                fetch(`/api/v1/shoes`)
                    .then(res => res.json())
                    .then(data => {
                        renderCard(data);
                    })
                    .catch(err => {
                        console.error(err);
                    })
            })
        })
    </script>
</th:block>


</body>

</html>